
\.idea/\.idea\.internal/\.idea/

\.idea/\.idea\.internal/

\.vscode/

bin/

obj/

appsettings\.dev\.json

internal\.txt

TimeEntries\.txt

debug\.log

\.idea/\.idea\.InternalAutomation/\.idea/

\.idea/\.idea\.InternalAutomation/riderModule\.iml

appsettings\.json

appsettings-development\.json
